@import "./assets/themes/default.scss";

.table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.thead-background {
  background-color: $thead-background-color;
}

.thead-cell-height {
  box-sizing: border-box;
  height: $header-cell-height;
}

.thead-cell {
  padding: $thead-cell-padding;
  color: $thead-color;
}

.thead-cell-icon {
  width: $thead-cell-icon-width;
}

.thead-cell-wrapper {
  display: flex;
}

.thead-cell-content-wrapper {
  width: 100%;
}
.thead-cell-content {
  width: 100%;
}
.thead-cell,
.cell {
  text-align: left;
}
.tbody {
  height: 100%;
}

.cell {
  width: $cell-width;
  padding: $cell-padding;
  line-height: cell-line-height;
  color: $cell-color;
}

.cell-edit-wrapper {
  display: flex;
  align-items: center;

  input {
    margin-right: 8px;
  }

  .btn + .btn {
    margin-left: 4px;
  }
}

.btn {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: $btn-padding;
  font-size: 0.875rem;
  font-family: inherit;
  color: $btn-color;
  background-color: $btn-background-color;
  cursor: pointer;
  user-select: none;
}

.btn-accent {
  padding: $btn-accent-padding;
  background-color: $btn-accent-background-color;
  font-weight: 500;
}
